<title>My Bil 481 Homework 1</title>
  <h1>Semih CATAL 161101011</h1>
    Result is {{result}}
  <ul>
    <li>In the first form, enter a list of integers seperated by newline character.</li>
    <li>In the second form, enter another list of integers seperated by newline character.</li>
    <li>In the third and fourth form enter an integer for each form.</li>
    <li>This app take the sum of first(3rd form) and second integer(4th form) and check if it is in the first list of integers(1st form).</li>
    <li>If sum is in the first list(1st form) then it calculates it subtract int2(4th form) from int1(3rd form) then checks the result in second list(2nd form)</li>
    <li>If sum is in list1(1st form) and difference is in list2(2nd form) it returns true.Else it returns false.</li>
  </ul>

  <form action="compute" method="post">
        <textarea name="input1" rows="10" cols="30"></textarea>
        <textarea name="input2" rows="10" cols="30"></textarea>
        <textarea name="input3" rows="10" cols="30"></textarea>
        <textarea name="input4" rows="10" cols="30"></textarea>
        <br>
        <input type="submit">
  </form>
